@import "../../styles/_import.scss";

.sidebar-left {
  height: 80vh;
	background-color: rgba(0, 100, 100, 0.6);
	display: none;

	@include breakpoint($medium-screen) {
		display: block;
		@include span(2 of 16);
  }
}
